@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://use.typekit.net/hsc2ppo.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://use.typekit.net/hsc2ppo.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://use.typekit.net/hsc2ppo.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://use.typekit.net/hsc2ppo.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://use.typekit.net/hsc2ppo.css");
*:focus {
  outline: none; }

* {
  margin: 0;
  padding: 0; }

/* Header */
header {
  margin: 0;
  padding: 0;
  height: 10%;
  width: 100%;
  background-color: #B3DAF6;
  font-family: montserrat, sans-serif;
  grid-area: header;
  font-weight: 100;
  display: inline-block; }
  header .menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s; }
  header .menu li {
    list-style: none;
    margin: 0 10px; }
  header .menu li a {
    text-decoration: none;
    color: #00aeff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s; }
  header .menu li a:hover {
    color: blue; }
  header .logo-header img {
    object-fit: contain;
    position: fixed;
    right: 2%;
    top: -4.5%; }

header, .nav, .menu {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.5%; }

.nav {
  position: relative;
  background-color: white;
  padding: 0.1px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden; }
  .nav input:checked ~ .menu {
    width: 420px; }
  .nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0; }
  .nav span {
    position: absolute;
    left: 30%;
    width: 20px;
    height: 4px;
    border-radius: 50px;
    background-color: #5cabf5;
    pointer-events: none;
    transition: 0.5s; }
  .nav input:checked ~ span {
    background-color: #5cabf5;
    position: fixed;
    left: 2%;
    padding: 0% !important; }
  .nav input:checked ~ .span-none {
    display: none; }
  .nav .span1 {
    transform: translateY(-8px); }
  .nav input:checked ~ .span1 {
    transform: translateY(0) rotate(-45deg); }
  .nav .span2 {
    transform: translateY(8px); }
  .nav input:checked ~ .span2 {
    transform: translateY(0) rotate(45deg); }

/* Footer */
footer {
  color: #fff;
  padding: 20px 20px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0%;
  width: 100%;
  left: 0%;
  height: 50px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 60px; }
  footer .list img {
    height: 20px;
    margin-bottom: -15px; }
  footer .list ul {
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
    display: inline;
    flex-direction: column;
    align-items: left;
    float: left; }
  footer .list li {
    padding: 0 15px;
    margin-bottom: 16px;
    list-style-type: none;
    display: inline; }
  footer .list a {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none; }
  footer .caja2 {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 70px; }
  footer legend {
    padding-bottom: 8px;
    font-size: 14px;
    text-transform: uppercase; }
  footer input[type='text'], footer [type='email'], footer select, footer textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #e6e6e6;
    color: #e6e6e6;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%; }
  footer ::-webkit-input-placeholder {
    color: #ffffff; }
  footer :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff; }
  footer ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff; }
  footer :-ms-input-placeholder {
    color: #ffffff; }
  footer #submit-button-news {
    display: none; }

/* CONTACTO CSS */
/* Form */
fieldset {
  border: none;
  position: fixed;
  top: 17%;
  left: 35%;
  width: 200px;
  height: 250px;
  font-size: 20pt !important; }

.fieldset-contact {
  background-color: white;
  border: none;
  color: #e6e6e6;
  font-size: 10pt;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1em 0;
  padding: 1.5em 2em 4em 2em;
  text-transform: uppercase;
  width: 300px;
  border-radius: 5%; }

.form-input-control {
  color: #252525;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 2px;
  line-height: 12px;
  background-color: transparent;
  border: 2px solid #CC6666;
  font-size: 10pt !important;
  padding: 13px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: 0; }

.form-input-control:focus {
  border: 2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical; }

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100px;
  background: #CC6666;
  border-radius: 5%;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -4px;
  font-weight: 700;
  position: fixed; }

[type="submit"]:hover {
  background: #CC4949; }

.form-input-control::-webkit-input-placeholder {
  color: #464646; }

#contact-data {
  border: none;
  border-bottom: solid 2px #464646;
  background: none; }

/* Section */
#details {
  display: block;
  text-align: center;
  margin-left: 25%;
  margin-top: 2%;
  position: fixed;
  left: 18%; }

#details button {
  border-radius: 30px;
  padding: 10px;
  border: 2px solid;
  border-color: white;
  background-color: transparent;
  margin-top: 15px; }

#details .button-inicio a, #details .intro a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal; }

#details button:hover {
  border-radius: 30px;
  padding: 10px;
  border: 2px solid;
  border-color: #2a8dff;
  background-color: #2a8dff;
  cursor: pointer; }

.intro {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  letter-spacing: 4px;
  font-size: 35px;
  margin-bottom: -20px; }

.intro-text {
  font-family: montserrat,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff; }

.index-body {
  background-color: #1d1d1d !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 15% 10% 15% 30%;
  grid-template-rows: 30% 15% 10% 15% 30%;
  height: 100%;
  overflow-x: hidden; }

.flex-index {
  grid-area: cont3; }

.landing-logo {
  grid-area: cont3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: landing-logo;
  margin-right: 27px; }

.loader-touch {
  grid-area: cont3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-left: 18%;
  width: 80px;
  height: 80px;
  grid-row: 3; }
  .loader-touch div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: loader-touch 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }
    .loader-touch div:nth-child(2) {
      animation-delay: -0.5s; }

@keyframes loader-touch {
  0% {
    width: 0;
    height: 0;
    opacity: 0; }
  4.9% {
    width: 0;
    height: 0;
    opacity: 0; }
  5% {
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    width: 72px;
    height: 72px;
    opacity: 0; } }

#hero {
  width: 80%;
  height: 80vh;
  background: #fff; }
  #hero .container {
    padding-top: 62px;
    padding-left: 82px; }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: black; }
  #hero h2 {
    color: black;
    margin-bottom: 50px;
    font-size: 24px; }
  #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4; }
  #hero .btn-get-started:hover {
    background: #209dd8; }
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both; }

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center; }
  #hero .animated {
    -webkit-animation: none;
    animation: none; }
  #hero .hero-img {
    text-align: center; }
  #hero .hero-img img {
    width: 50%; } }

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px; }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px; }
  #hero .hero-img img {
    width: 70%; } }

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%; }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px; } }

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

@keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

/* VARIABLES */
/* RESERVAS CSS*/
/* Body*/
.card-container {
  width: 100%;
  max-width: 1200px;
  height: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .card-container .container-fluid {
    width: 330px;
    height: 430px;
    border-radius: 13px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    background-color: #fff; }
    .card-container .container-fluid:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
  .card-container img {
    width: 330px;
    height: 220px; }
  .card-container h4 {
    font-weight: 600;
    margin-top: 15px;
    font-family: montserrat, sans-serif;
    font-size: 14pt; }
  .card-container p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    font-family: montserrat, sans-serif;
    font-size: 11pt; }
  .card-container a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    margin-top: 70px;
    font-family: montserrat, sans-serif;
    font-size: small; }

.background-pages {
  background-image: url(../img/web1920bg.jpg);
  background-size: 100%;
  width: 100%;
  height: 90%;
  margin-bottom: 100px;
  max-height: 100%;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(../img/web1920bg.jpg);
  background-size: 100%;
  display: grid;
  grid-template-areas: "header header header" "cont1 cont2 cont3" "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1rem auto; }

@media screen and (max-width: 580px) {
  * {
    margin: 0;
    padding: 0; }
  body {
    background-image: url(../img/SmartPhone-Media-BG.jpg) !important;
    width: 100%;
    height: 100%; }
  header {
    background-color: #82B6FA;
    width: 100%;
    padding-top: 5%;
    padding-left: 2%; }
    header img {
      padding-top: 5%;
      padding-right: 2%; }
  /* Form */
  footer {
    position: fixed;
    top: 88%;
    margin-top: 10px; }
  .caja2 {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 70px;
    width: 100%; }
  legend {
    padding-bottom: 8px;
    font-size: 10px;
    text-transform: uppercase; }
  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical; }
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100px;
    background: #CC6666;
    border-radius: 5%;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -4px;
    font-weight: 700;
    position: fixed; }
  [type="submit"]:hover {
    background: #CC4949; }
  .form-input-control::-webkit-input-placeholder {
    color: #464646; }
  #contact-data {
    border: none;
    border-bottom: solid 2px #464646;
    background: none; }
  #details {
    position: fixed;
    top: 35%;
    left: 3%;
    margin-left: 0;
    width: 100%;
    height: 100%;
    padding: 0; } }

.about-section {
  padding: 0; }

.inner-container {
  padding: 60px; }

/* NOSOTROS */
#hero {
  width: 100%;
  height: 80vh;
  background: #fff;
  scale: 75%; }
  #hero .container {
    padding-top: 62px;
    padding-left: 52px;
    padding-right: 52px; }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: black; }
  #hero h2 {
    color: black;
    margin-bottom: 50px;
    font-size: 24px; }
  #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4; }
  #hero .btn-get-started:hover {
    background: #209dd8; }

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both; }

#hero .hero-img img {
  width: 60%; }

#hero .btn-get-started {
  font-size: 16px;
  padding: 10px 24px 11px 24px; }

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

@keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

/* RESERVAS */
/* VARIABLES */
.card-container {
  width: 80%;
  max-width: 1200px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .card-container .row {
    scale: 50%; }
  .card-container .container-fluid {
    border-radius: 13px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    background-color: #fff; }
    .card-container .container-fluid:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
  .card-container img {
    width: 330px;
    height: 220px; }
  .card-container h4 {
    font-weight: 600;
    margin-top: 15px;
    font-family: montserrat, sans-serif;
    font-size: 14pt; }
  .card-container p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    font-family: montserrat, sans-serif;
    font-size: 11pt; }
  .card-container a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    margin-top: 70px;
    font-family: montserrat, sans-serif;
    font-size: small; }
  .card-container .card2 {
    display: none !important; }

/* CONTACTO */
/* CONTACTO CSS */
/* Form */
fieldset {
  border: none;
  width: 200px;
  height: 250px;
  font-size: 20pt !important;
  position: fixed;
  left: 15%; }
  fieldset .fieldset-contact {
    background-color: white;
    border: none;
    color: #e6e6e6;
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1em 0;
    padding: 1.5em 2em 4em 2em;
    text-transform: uppercase;
    width: 300px;
    border-radius: 5%; }
    fieldset .fieldset-contact .form-input-control {
      color: #252525;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 18px;
      border-radius: 2px;
      line-height: 12px;
      background-color: transparent;
      border: 2px solid #CC6666;
      font-size: 10pt !important;
      padding: 13px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      outline: 0; }
    fieldset .fieldset-contact .form-input-control:focus {
      border: 2px solid #CC4949; }
    fieldset .fieldset-contact textarea {
      height: 150px;
      line-height: 150%;
      resize: vertical; }
    fieldset .fieldset-contact [type="submit"] {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      width: 100px;
      background: #CC6666;
      border-radius: 5%;
      border: 0;
      cursor: pointer;
      color: white;
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: -4px;
      font-weight: 700;
      position: fixed; }
    fieldset .fieldset-contact [type="submit"]:hover {
      background: #CC4949; }
    fieldset .fieldset-contact .form-input-control::-webkit-input-placeholder {
      color: #464646; }
    fieldset .fieldset-contact #contact-data {
      border: none;
      border-bottom: solid 2px #464646;
      background: none; }
