@import './background/reset&fonts.scss';

@import './sections/header';

@import './sections/footer';

@import './pages/contacto';

@import './pages/inicio';

@import './pages/landing';

@import './pages/nosotros';

@import './pages/reservas';

@import './background/bg';

@import './background/mediaquery'