@import './background/reset&fonts.scss';

@import './sections/header';

@import './sections/footer';

@import './pages/calendario';

@import './pages/contacto';

@import './pages/inicio';

@import './pages/landing';

@import './pages/nosotros';

@import './pages/reservas';

@import './background/bg';

$desktop-header: #B3DAF6;
$mobile-header: #82B6FA;

$header-color: map-merge(
    (
      “desktop”: $header-desktop,
      “mobile”: $header-mobile,
      
    ),
    $header-color
);

@each $name, $value in $header-color {
    .header-#{$name} {
      background-color: $value;
    }
  }

  @mixin bg {
    background-image: url(../img/web1920bg.jpg); 
  }