@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("https://use.typekit.net/hsc2ppo.css");

/* Section */

#details{
    display: block;
    text-align: center;
    margin-left: 25%;
    margin-top: 2%;
    position: fixed;
    left: 18%;
}

#details button{
    border-radius: 30px;
    padding: 10px;
    border: 2px solid;
    border-color: white;
    background-color: transparent;
    margin-top: 15px;

    
}

#details .button-inicio a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
}

#details button:hover{
    border-radius: 30px;
    padding: 10px;
    border: 2px solid;
    border-color: rgb(42, 141, 255);
    background-color: rgb(42, 141, 255);
    cursor: pointer;
}


.intro {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    letter-spacing: 4px;
    font-size: 35px;
    margin-bottom: -20px;
    @extend .button-inicio;
}

.intro-text{
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
