.index-body{
    background-color: #1d1d1d !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 15% 10% 15% 30%;
    grid-template-rows: 30% 15% 10% 15% 30%;
    
    height: 100%;
    overflow-x:hidden;
}





.flex-index{
    grid-area: cont3;
}



.landing-logo{
    grid-area: cont3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: landing-logo;
    margin-right: 27px;
    
}



.loader-touch {
    grid-area: cont3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-left: 18%;
    width: 80px;
    height: 80px;
    grid-row: 3;
        div {
            position: absolute;
            border: 4px solid #fff;
            opacity: 1;
            border-radius: 50%;
            animation: loader-touch 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            
                &:nth-child(2) {
                    animation-delay: -0.5s;
                }

}



}
  
  
  @keyframes loader-touch {
    0% {
      
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  