@media screen and (min-width: 1024px) {
    
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("https://use.typekit.net/hsc2ppo.css");

*:focus{
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    
}

@media screen and (min-width: 1024px){
.container {
    display: none;
}

#btn-menu{
    display: none;
}

.cross{
    display: none;
}

}

/* Header */

header{
    background-color: #B3DAF6;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 80px;
}

/* Body */

body {
    background-image: url(../img/web1920bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 90%;
    margin-bottom: 100px;
    max-height: 100%;
    overflow-x: hidden;
}



.header ul{
    margin-bottom: 32px;
    margin-left: 28px;
    margin-top: 28px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: left;

}

.header li{
    margin-bottom: 16px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    
    
}

.header a{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header a:hover{
    color: rgb(42, 141, 255);
}

.header #Logo-Header{
    position: fixed;
    top: 3%;
    right: 3%;
}

.header #Logo-Header-Mobile{
    display: none;
}
/* Form */

fieldset{
    border: none;
    position: fixed;
    top: 17%;
    left: 35%;
    width: 200px;
    height: 250px;
    font-size: 20pt !important;
    
}

.fieldset-contact{
	background-color: rgb(255, 255, 255);
  border: none;
	
	color: #e6e6e6;
	font-size: 10pt;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1em 0;
	padding: 1.5em 2em 4em 2em;
  text-transform: uppercase;
	width: 300px;
    border-radius: 5%;
	
}



.form-input-control {
    color:rgb(37, 37, 37);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 2px;
    line-height: 12px;
    background-color: transparent;
    border:2px solid #CC6666;
    font-size: 10pt !important;
    padding: 13px;
    margin-bottom: 10px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .form-input-control:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100px;
    background:#CC6666;
    border-radius:5%;
    border:0;
    cursor:pointer;
    color:white;
    font-size:15px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:-4px;
    font-weight:700;
    position: fixed;
    
  }

  [type="submit"]:hover { background:#CC4949; }

  
  .form-input-control::-webkit-input-placeholder{
    color:rgb(70, 70, 70);
    }

#contact-data{
    border: none;
    border-bottom: solid 2px rgb(70, 70, 70);
    background: none;
}
/* Footer */
footer{
    color: #fff;
    padding: 20px 20px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    height: 50px;
    
}

.container-foot img {
    height: 20px;
    margin-bottom: -15px;
}

.container-foot ul{
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
    display: inline;
    flex-direction: column;
    align-items: left;
    float: left;
}

.container-foot li{
    padding: 0 15px;
    margin-bottom: 16px;
    list-style-type: none;
    display: inline;
    
}

.container-foot a{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    
}

.caja2{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 70px;
}

legend{
    padding-bottom: 8px;
    font-size: 14px;
    text-transform: uppercase;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #e6e6e6;
	color: #363636;
	font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	
}

::-webkit-input-placeholder{
    color:#ffffff;
    }
    :-moz-placeholder{ /* Firefox 18- */
    color:#ffffff;
    }
    ::-moz-placeholder{ /* Firefox 19+ */
    color:#ffffff;
    }
    :-ms-input-placeholder{
    color:#ffffff;
    }

#submit-button-news {
    display: none;
  }


  

  @media screen and (max-width: 767px) {

    *{
        margin: 0;
        padding: 0;
    }

    body{
        background-image: url(/img/SmartPhone\ -\ Media\ BG.jpg);
        width: 100%;
        height: 100%;
    }

    header{
        background-color: #82B6FA;
        width: 100%;
    }

    .header #Logo-Header-Mobile{
        display: flex;
        position: fixed;
        top: 2%;
        right: 5%;
        
    }

    .header #Logo-Header{
        display: none;
    }

     /*Menù lateral*/
#btn-menu{
    display: none;
    float: left;
    margin-right: 75%;
    cursor: pointer;
    color: white;
    
}

.btn-menu label{
    display: block;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 3%;
    left: 5%;
}
.container-menu{
    position: absolute;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 999 !important;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #ffffff;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    font-family: 'Work Sans', sans-serif;
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
    
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: rgb(36, 36, 36);
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
    color: white;
}

.cont-menu label{
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(36, 36, 36);
    cursor: pointer;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}


    /* Form */

fieldset{
    border: none;
    position: fixed;
    top: 15%;
    left: 8.5%;
    width: 10px;
    height: 250px;
    font-size: 15pt !important;
    
}

.fieldset-contact{
	background-color: rgb(255, 255, 255);
  border: none;
	
	color: #e6e6e6;
	font-size: 10pt;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1em 0;
	padding: 1.5em 2em 4em 2em;
  text-transform: uppercase;
	width: 235px;
    border-radius: 5%;
	
}



.form-input-control {
    color:rgb(37, 37, 37);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 2px;
    line-height: 12px;
    background-color: transparent;
    border:2px solid #CC6666;
    font-size: 8pt !important;
    padding: 13px;
    margin-bottom: 10px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .form-input-control:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100px;
    background:#CC6666;
    border-radius:5%;
    border:0;
    cursor:pointer;
    color:white;
    font-size:15px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:-4px;
    font-weight:700;
    position: fixed;
    
  }

  [type="submit"]:hover { background:#CC4949; }

  
  .form-input-control::-webkit-input-placeholder{
    color:rgb(70, 70, 70);
    }

  #contact-data{
    border: none;
    border-bottom: solid 2px rgb(70, 70, 70);
    background: none;
}

    
    /* Footer */
footer{
    color: #fff;
    padding: 20px 20px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    height: 50px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 60px;
}

.container-foot img {
    height: 20px;
    margin-bottom: -5px;
    
    
    
}

.container-foot ul{
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
    display: inline;
    flex-direction: column;
    align-items: left;
    float: left;
}

.container-foot li{
    padding: 0 15px;
    margin-bottom: 16px;
    list-style-type: none;
    display: inline;
    
}

.container-foot a{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    
}

.list {
    position: fixed;
    left: 29%;
    bottom: 8%;
}

.caja2{
    display: flex;
    flex-direction: column;
    float: center;
    margin-right: 90px;
}

legend{
    padding-bottom: 8px;
    font-size: 14px;
    text-transform: uppercase;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #e6e6e6;
	color: #363636;
	font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	
}

::-webkit-input-placeholder{
    color:#ffffff;
    }
    :-moz-placeholder{ /* Firefox 18- */
    color:#ffffff;
    }
    ::-moz-placeholder{ /* Firefox 19+ */
    color:#ffffff;
    }
    :-ms-input-placeholder{
    color:#ffffff;
    }

#submit-button-news {
    display: none;
  }


 
  }