*:focus{
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    
}



/* Header */

header{
    background-color: #B3DAF6;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 80px;
}

/* Body */

body {
    background-image: url(../img/web1920bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 90%;
    margin-bottom: 100px;
    max-height: 100%;
    overflow-x: hidden;
}



.header ul{
    margin-bottom: 32px;
    margin-left: 28px;
    margin-top: 28px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: left;

}

.header li{
    margin-bottom: 16px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    
    
}

.header a{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header a:hover{
    color: rgb(42, 141, 255);
}

.header #Logo-Header{
    position: fixed;
    top: 3%;
    right: 3%;
}

/* Section */
section{
    position: fixed;
    left: 100px;
}

.about-section{
    background: url(/img/about-us.jpg) no-repeat left;
    background-size: 45%;
    
    overflow: hidden;
    padding: 100px 0px ;
    padding-right: 0%;
    position: absolute;
    left: 150px;
    top: -30px;
}

.info-nosotros{
    background-color: #913434;
    width: 1000px;
    transform: scale(1);
}


.inner-container{
    width: 35%;
    float: right;
    margin-right: -100px;
    background-color: #fdfdfd;
    padding: 30px;
    padding-right: 500px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    font-family: montserrat, sans-serif;

}

.team-circle1{
    background-color: #ffffff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 150px;
    right: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    font-size: 200px;
}
 .team-circle1 img{
    height: 200px;
    width: 200px;
    position: fixed;
    top: 130px;
 }

 .team-text{
    font-family: montserrat, sans-serif;
    font-size: 10pt;
    position: fixed;
    left: 655px;
    top: 370px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .team-text h3{
    position: absolute;
    top: auto;
 }

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: montserrat, sans-serif;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    font-family: montserrat, sans-serif;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

/* Footer*/
footer{
    color: #fff;
    padding: 20px 20px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    height: 50px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 60px;
}

.container-foot img {
    height: 20px;
    margin-bottom: -15px;
}

.container-foot ul{
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
    display: inline;
    flex-direction: column;
    align-items: left;
    float: left;
}

.container-foot li{
    padding: 0 15px;
    margin-bottom: 16px;
    list-style-type: none;
    display: inline;
    
}

.container-foot a{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    
}

.caja2{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 70px;
}

legend{
    padding-bottom: 8px;
    font-size: 14px;
    text-transform: uppercase;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #e6e6e6;
	color: #e6e6e6;
	font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	
}

::-webkit-input-placeholder{
    color:#ffffff;
    }
    :-moz-placeholder{ /* Firefox 18- */
    color:#ffffff;
    }
    ::-moz-placeholder{ /* Firefox 19+ */
    color:#ffffff;
    }
    :-ms-input-placeholder{
    color:#ffffff;
    }

#submit-button-news {
    display: none;
  }