@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("https://use.typekit.net/hsc2ppo.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


*:focus{
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    
}



/* Header */

header{
    background-color: #B3DAF6;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 80px;
}

/* Body */

body {
    background-image: url(../img/web1920bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 90%;
    margin-bottom: 100px;
    max-height: 100%;
    overflow-x: hidden;
}



.header ul{
    margin-bottom: 32px;
    margin-left: 28px;
    margin-top: 28px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: left;

}

.header li{
    margin-bottom: 16px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    
    
}

.header a{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header a:hover{
    color: rgb(42, 141, 255);
}

.header #Logo-Header{
    position: fixed;
    top: 3%;
    right: 3%;
}

/* Body*/
.card-container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.card-container .card{
    width: 330px;
    height: 430px;
    border-radius: 13px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    
}

.card-container .card:hover{
    
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-container .card img{
    width: 330px;
    height: 220px;
}


.card-container .card h4{
    font-weight: 600;
    margin-top: 15px;
    font-family: montserrat, sans-serif;
    font-size: 14pt;
}

.card-container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    font-family: montserrat, sans-serif;
    font-size: 11pt;
}

.card-container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    margin-top: 70px;
    font-family: montserrat, sans-serif;
    font-size: small;
}



/* Footer*/
footer{
    color: #fff;
    padding: 20px 20px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    height: 50px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 60px;
}

.container-foot img {
    height: 20px;
    margin-bottom: -15px;
}

.container-foot ul{
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
    display: inline;
    flex-direction: column;
    align-items: left;
    float: left;
}

.container-foot li{
    padding: 0 15px;
    margin-bottom: 16px;
    list-style-type: none;
    display: inline;
    
}

.container-foot a{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    
}

.caja2{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 70px;
}

legend{
    padding-bottom: 8px;
    font-size: 14px;
    text-transform: uppercase;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #e6e6e6;
	color: #e6e6e6;
	font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	
}

::-webkit-input-placeholder{
    color:#ffffff;
    }
    :-moz-placeholder{ /* Firefox 18- */
    color:#ffffff;
    }
    ::-moz-placeholder{ /* Firefox 19+ */
    color:#ffffff;
    }
    :-ms-input-placeholder{
    color:#ffffff;
    }

#submit-button-news {
    display: none;
  }

